@charset "utf-8";
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{font-family: "Noto Sans KR", sans-serif;}
body{font-family: "Noto Sans KR", sans-serif;}
.f_nanum{font-family: "NanumSquare", sans-serif;}
.normal{font-weight: 400;}
.bold{font-weight: 700;}
.bolder{font-weight: 800;}
.light{font-weight: 300;}
/*공통사항*/
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333333;}
ul,li{list-style-type: none; color: #333;}
img{vertical-align: middle; max-width: 100%;}
#container{width: 100%; position: relative;}
.inner{width: 1100px; margin: 0 auto;}
.bold{font-weight: bold;}
.arrow{border: solid black; border-width: 0 2px 2px 0; display: inline-block; padding: 5px;transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.p15p{font-size: 15px !important;}
.p14p{font-size: 14px !important;}
#header .h_top_outer{width: 100%; border-bottom: 1px solid #ddd;}
#header .h_top{height: 80px;}
#header .h_top .h_logo,#header .h_top .h_search,#header .h_top .h_site{display: inline-block; vertical-align: middle; line-height: 80px;}
#header .h_top .h_site li{display: inline-block;}
#header form{position: relative; margin-left: 130px;}
#header input[type=text]{padding: 0px 60px 0 20px;border: 3px solid #3d6cb4; height: 45px; width: 350px; border-radius: 22.5px; font-size: 15px; color: #999999;}
#header input[type=text]:focus{outline: 0;}
#header form button{background: url(../img/search_btn.png) no-repeat center; width: 21px; height: 21px; background-color: transparent; border: 0; position: absolute; left: 300px; top: 30px;}
#header .h_site{margin-left: 200px; font-size: 15px;}
#header .h_site a{color: #888888; vertical-align: middle;}
#header .h_site ul li:first-child{margin-right: 10px;}
#header .h_site ul li:first-child a::before{display: inline-block; content: ""; width: 20px; height: 16px; background: url(../img/h_ico1.png) no-repeat center; background-size: contain; line-height: 17px; vertical-align: middle; margin-right: 3px;}
#header .h_site ul li:last-child a::before{display: inline-block; content: ""; width: 20px; height: 16px; background: url(../img/h_ico2.png) no-repeat center; background-size: contain; line-height: 17px; vertical-align: middle; margin-right: 3px;}
#header .h_site .top_nav li{vertical-align: middle; color: #888888;}
#header .h_site .top_nav li:first-child{margin-right: 15px;}
#header .h_site .top_nav li:first-child::before{content: ""; display: inline-block; margin-right: 3px; width: 16px; height: 16px; background:url(../img/h_ico1.png) no-repeat center;vertical-align: middle; background-size: contain;}
#header .h_site .top_nav li:last-child::before{content: ""; display: inline-block; margin-right: 3px; width: 16px; height: 16px; background:url(../img/h_ico2.png) no-repeat center;vertical-align: middle; background-size: contain;}

#header .h_nav .top_nav li{display: inline-block; font-size: 18px; padding: 18px 30px;}
#header .top_nav{position: relative;top: 0;left: 0;}
#header .h_nav .h_sub_nav{position: absolute; width: 100%; background-color: #ebebeb;z-index: 10; font-size: 15px; font-weight: 400; display: none;}
#header .h_nav .h_sub_nav ul{display: inline-block; text-align: center; vertical-align: top;}
#header .h_nav .h_sub_nav ul:first-child{width: 158.28px;}
#header .h_nav .h_sub_nav ul:nth-child(2){width: 195.55px;}
#header .h_nav .h_sub_nav ul:nth-child(3){width: 191.05px;}
#header .h_nav .h_sub_nav ul:nth-child(4){width: 158.28px;}
#header .h_nav .h_sub_nav ul:nth-child(5){width: 200.05px;}
#header .h_nav .h_sub_nav ul:last-child{width: 125.53px;}
#header .h_nav .h_sub_nav ul li{padding: 8px 18px;letter-spacing: -1px;}
#header .h_nav .h_sub_nav ul li.on{color: #3a6db5;}
#header .h_nav .h_sub_nav ul a:first-child li{padding-top: 20px;}
#header .h_nav .h_sub_nav ul a:last-child li{padding-bottom: 20px;}

.swiper-container{width: 100%; height: 100%;}
.main_slide_box .swiper-container{width: 100%; max-width: 2560px; min-width: 1900px; position: relative; left: 50%; transform: translateX(-50%);}
.main_slide_box .swiper-container .swiper-slide img{width: 1920px; height: 385px;}

#section .main_slide_box{overflow-x: hidden;}
#section .main_slide_box .swiper-pagination{width: 240px; left: 395px; bottom: 60px;}
#section .main_slide_box .swiper-pagination .swiper-pagination-bullet{width: 50px; height: 4px; border-radius: 0; background-color: #fff; opacity: 0.2; transition: all 0.5s ease;}
#section .main_slide_box .swiper-pagination .swiper-pagination-bullet-active{background-color: #fff; opacity: 1;}
#section .main_slide_box .autoplay_btn{position: absolute; bottom: 55px; left: 640px; z-index: 10; cursor: pointer;}
#section .main_sub_box{height: 123px; background-color: #f0f0f0;}
#section .main_sub_box ul{position: relative; top: 50%; transform: translateY(-50%); font-size: 0;}
#section .main_sub_box li{display: inline-block; vertical-align: middle;margin-right: 35px; font-size: 18px;font-weight: 400;}
#section .main_sub_box p{ margin-top: 10px;}
#section .main_sub_box a:first-child li{margin-right: 115px;}
#section .main_sub_box a:last-child li{margin-right: 0;}

#section .notice_box{padding: 35px 0;}
#section .notice_box .inner{font-size: 0;}
#section .main_tab_box{width: 663px; margin-right: 42px; font-size: 15px;}
#section .main_tab_box,#section .main_sub_slide_box{display: inline-block; vertical-align: top;}
#section .main_tab{font-size: 20px; color: #aaaaaa; padding-bottom: 15px; border-bottom: 1px solid #b1b1b1;}
#section .main_tab li{color: #aaaaaa; display: inline-block; margin-right: 25px; cursor: pointer;}
#section .main_tab li.on{color: #333333;}
#section .main_tab li:last-child{width: 24px; height: 24px; vertical-align: top; background: url(../img/more_btn.png) no-repeat center; background-size: contain; float: right; margin-right: 0;}
#section .main_sub_slide_box .swiper-container {width: 395px; height: 235px;}
#section .tab_list{margin-top: 0;}
#section .tab_list:last-child{display: none;}
#section .tab_list li{border-bottom: 1px solid #ddd; height: 65px; line-height: 65px;}
#section .tab_list p{display: inline;}
#section .tab_list span{float: right;}
#section .sub_slide_btn{position: absolute; bottom: 26px; left: 33px; border: 3px solid #fff; border-radius: 15px; width: 67px; height: 30px; z-index: 10;}
#section .sub_slide_prev{display: inline-block; width: 8px; height: 13px; background: url(../img/banenr_btn_prev.png) no-repeat center; background-size: contain; cursor: pointer; position: relative; top: 6px;left: 13px;}
#section .sub_slide_next{display: inline-block; width: 8px; height: 13px; background: url(../img/banenr_btn_next.png) no-repeat center; background-size: contain; cursor: pointer; position: relative; top: 6px; left: 32px;}

.satisfaction{height: 110px; margin-bottom: 30px;}
.satis_top{height: 50px; line-height: 50px; border: 1px solid #ddd; background-color: #f2f2f2; padding: 0px 18px; color: #555; font-size: 15px;}
.satis_bot{padding: 0px 18px;height: 50px; border-bottom: 1px solid #ddd; line-height: 50px; color: #777; font-size: 14px;}
.satis_bot label{margin-right: 25px; line-height: 50px;}
.satis_bot input[type=radio]{margin-right: 7px; line-height: 50px; position: relative; top: 2px;}
.satis_bot .satis_submit{float: right;}
.satis_bot .satis_submit input{width: 90px; height: 30px; line-height: 30px; color: #fff; background-color: #555555; border: 0;}


.f_slide_box{padding: 25px 0; border-top: 1px solid #ddd; width: 100%; min-width: 1100px;}
.f_slide_title, .f_slide{display: inline-block; vertical-align: middle;}
.f_slide_title{width: 85px; font-size: 20px; color: #333;font-weight: 700;}
.f_slide_prev{width: 25px; height: 25px; display: inline-block; background: url(../img/f_slide_prev.png) no-repeat center; background-size: cover;}
.f_slide_next{width: 25px; height: 25px; display: inline-block; background: url(../img/f_slide_next.png) no-repeat center; background-size: cover;}
.f_slide{width: 1000px;}
.f_slide_btn{margin-top: 10px;}
.f_slide .swiper-slide img{margin: 0 auto; display: block;}

#footer{background-color: #505256; height: 126px; position: relative;}
#footer .inner{position: relative; top: 50%; transform: translateY(-50%);}
#footer .f_logo{margin-right: 50px;}
#footer .f_logo,#footer ul{display: inline-block; vertical-align: middle;}
#footer ul{line-height: 22px;}
#footer li{ color: #b3b3b3;}

/*서브페이지*/
#sub_sec{width: 100%;}
.sub_con{min-height: 50vh;}
#sub_sec .sub_top{height: 200px; width: 100%; position: relative; top: 0; left: 50%; overflow: hidden;min-width: 1100px; background: url(../img/sub_top01.png) no-repeat center; transform: translateX(-50%); color: #fff; font-size: 36px;text-align: center; line-height: 150px;}
#sub_sec .sub_con{width: 1100px; margin: 0 auto; position: relative; top: -50px; z-index: 9; background-color: #fff;}
.sub_side,.sub_outer{display: inline-block; vertical-align: top;}
.sub_side ul li{width: 250px; height: 50px; border: 1px solid #ddd; border-top: 0; line-height: 50px;}
.sub_side ul li.on{background-color: #f0f0f0;}
.sub_side ul li a{font-size: 16px; color: #666666; width: 100%; display: inline-block; padding: 0px 20px; line-height: 50px; position: relative;}
.sub_side ul li a::after{content: ""; display: inline-block; width: 8px; height: 13px; background-image: url(../img/sub_side_after.png);position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
.sub_side ul li:first-child{width: 250px; height: 125px;font-family: 'NanumSquare', sans-serif; font-size: 26px; text-align: center;line-height: 125px; background-color: #1f59b2; border: 0; border-bottom: 1px solid #ddd;}
.sub_side ul li:first-child a{color: #fff; font-size: 26px;}
.sub_side ul li:first-child a::after{display: none;  color: #fff;}

.sub_tab{border-bottom: 1px solid #3d6cb4;margin-top: 40px; font-size: 0;}
.sub_tab div{display: inline-block; color: #888888; height: 50px; line-height: 50px; font-size: 15px; border: 1px solid #ddd; border-right: 0; text-align: center; cursor: pointer;}
.sub_tab div.on{border: 1px solid #3d6cb4; border-bottom: 0;}
.sub_tab div:last-child{border-right: 1px solid #ddd;}

.sub_outer{margin-left: 45px; width: 800px;}
.sub_nav{height: 85px; border-bottom: 1px solid #ddd;}
.sub_nav .sub_subject{float: left; font-size: 28px; color: #555555; line-height: 100px; margin-left: 20px;}
.sub_nav ul{float: right; line-height: 100px; margin-right: 15px;}
.sub_nav ul li{float: left; font-size: 12px; color: #ccc;}
.sub_nav ul li:last-child{color: #888;}
.sub_nav ul li::after{content: "";display: inline-block; width: 8px; height: 13px; background: url(../img/sub_nav_next.png) no-repeat center; vertical-align: middle; margin: 0px 10px; margin-top: -2px;}
.sub_nav ul li:last-child::after{display: none;}
.sub_inner,.sub_inner_write{margin-top: 40px;}
.tab_con{margin-top: 0;}

.faq_list li{border: 1px solid #ddd; margin-bottom: 15px; border-left: 0; border-right: 0;}
.faq_list li div{margin: 0 20px;height: 100%; line-height: 50px; color: #666666;}
.faq_list li .faq_q span.arrow{float: right; margin-top: 17px; margin-right: 5px;}
.faq_list li .faq_a{border-top: 1px solid #4778c5;display: none;}


.faq_list li.on{background-color: #3d6cb4;}
.faq_list li.on div{margin: 0 20px;height: 100%; line-height: 50px; color: #a4c2ef;}
.faq_list li.on .faq_q span.arrow{border-color: #fff;transform: rotate(-135deg); -webkit-transform: rotate(-135deg);margin-top: 20px;}
.faq_list li.on .faq_a{color: #fff;}

.gall_notice{width: 100%; font-size: 0;}
.gall_notice li{width: 252px; display: inline-block;}
.gall_notice li:nth-of-type(3n + 2){margin: 0 22px;}
.gall_notice .gall_img_box{width: 100%; height: 200px; background: url(../img/sub_banner1.png) no-repeat center; background-size: cover; border: 1px solid #ddd;}
.gall_notice .gall_text_box{padding: 10px; font-size: 14px; color: #666666;letter-spacing: -1px;}
.gall_notice .gall_text_box span{font-size: 12px; color: #aaaaaa;}

/*form*/
.form_list{width: 100%;}
.form_list input[type=text],.form_list select,.form_list textarea,.form_list input[type=file],.form_list .file_up,p.blue_list{height: 48px; line-height: 48px; padding: 0 30px; width: 100%; border: 0; border-top: 1px solid #ddd; font-size: 15px; color: #333; display: inline-block;font-family: "Noto Sans KR", sans-serif;}
.form_list input[type=text]::placeholder{color: #666;}
.form_list input[type=text].bor_bot{border-bottom: 1px solid #ddd;}
.form_list textarea{height: 170px; resize: none;}
.form_list select{height: 48px; line-height: 48px; padding: 0 25px; width: 100%; border: 0; border-top: 1px solid #ddd; font-size: 15px; color: #333; display: block; color: #666;}
.form_list input[type=text].e_mail,.form_list select.e_mail{display: inline-block; width: 200px; border: 0;}
.form_list p.blue_list{padding: 0px 30px; font-size: 12px; color: #3d6cb4;}
.form_list .ok_box{font-size: 15px; color: #666; padding: 30px; background-color: #f8f8f8; font-weight: 500; line-height: 30px; border: 2px solid #ddd;}
.form_list .check_box{font-size: 12px; color: #666; vertical-align: middle; line-height: 18px;}
.form_list #check_box{line-height: 18px; vertical-align: middle;margin-top: -1px;margin-right: 5px;}

.form_list .submit_box{text-align: center; margin-top: 40px;}
.form_list .submit_box input{width: 150px; height: 48px; font-size: 16px; font-weight: 400; background-color: #fff; font-family: "Noto Sans KR", sans-serif;}
.form_list .submit_box input:first-child{border: 2px solid #3d6cb4; color: #3d6cb4;}
.form_list .submit_box input:last-child{border: 2px solid #cccccc; color: #777777;}

.form_list label{position: relative;}
.form_list .af_won::after{content: "백만원"; position: absolute; top: 50%; right: 30px; transform: translateY(-50%); width: 100px; text-align: right;}
.form_list .af_person::after{content: "명"; position: absolute; top: 50%; right: 30px; transform: translateY(-50%); width: 100px; text-align: right;}

/*일반게시판, 파일게시판*/
.sub_inner table{border-collapse: collapse;}
.sub_inner table th{background-color: #f6f6f6; border-top: 1px solid #272727; height: 50px; line-height: 50px; font-size: 14px; color: #666666;}
.sub_inner table th:first-child{border-left: 1px solid #ddd;}
.sub_inner table th:last-child{border-right: 1px solid #ddd;}
.sub_inner table td{text-align: center; border-top: 1px solid #ddd; height: 50px; line-height: 50px; font-size: 14px; color: #888888;}
.sub_inner table td:first-child{border-left: 1px solid #ddd;}
.sub_inner table td:last-child{border-right: 1px solid #ddd;}
.sub_inner table tr:last-child td{border-bottom: 1px solid #ddd;}
.sub_inner table td a.file_see_more{width: 67px; height: 25px; line-height: 25px;text-align: center; background-color: #3d6cb4; display: block; color: #fff; margin: 0 auto;}
.sub_inner table .table_td_title{text-align: left;}
.sub_inner table .notice td{color: #333333; background-color: #f5f9ff;}
.sub_inner table .notice td:first-child{color: #3366b3; font-weight: bold;}
.sub_inner table .reply .table_td_title{color: #3366b3; padding-left: 20px;}
.sub_inner table .reply_img{display: inline-block; font-size: 13px; width: 40px; height: 22px; line-height: 22px; border-radius: 11px; border: 1px solid #3366b3; text-align: center; position: relative; margin-right: 5px;}
.sub_inner table .reply_img::before{content: "└"; position: absolute; left: -20px;}

/*페이징*/
.pag_write{font-size: 0; margin-top: 45px; text-align: left; float: left;}
.pag_write span{display: inline-block; width: 25px; height: 25px; line-height: 25px; text-align: center; color: #888888; font-size: 12px;}
.pag_write button{display: inline-block; width: 25px; height: 25px; color: #888; border:0; background-color:#fff}
.pag_write button.on{background-color: #3d6cb4; color: #fff;}
.pag_write span.on a{color: #fff;}

/*게시판 검색*/
.board_search_con{position: relative; margin-left: 130px; float: right; margin-top: 35px;}
.board_search_con input[type=text]{padding: 0px 30px 0 20px;border: 1px solid #ddd; height: 40px; width: 200px; border-radius: 0; font-size: 15px; color: #888888; vertical-align: middle;}
.board_search_con input[type=text]:focus{outline: 0;}
.board_search_con button{background: url(../img/board_search_btn.png) no-repeat center; width: 17px; height: 17px; background-color: transparent; border: 0; position: absolute; left: 170px; top: 10px;}
.board_search_con .board_write{display: inline-block; border: 1px solid #4875b8; color: #3d6cb4; font-size: 14px; letter-spacing: -1px; height: 40px; line-height: 40px; width: 85px;vertical-align: middle;text-align: center; margin-left: 10px;}

/*게시판 VIEW*/
.board_view_con{border-top: 1px solid #272727;}
.board_view_con span,.board_sub_title p{color: #888888;}
.board_view_con .board_title{height: 60px; line-height: 60px; background-color: #f6f6f6; border-bottom: 1px solid #ddd; padding: 0px 30px;}
.board_view_con .board_title h2{color: #333333; font-size: 20px; float: left;}
.board_view_con .board_title .write_date{font-size: 14px; float: right;}
.board_view_con .board_sub_title{height: 45px; line-height: 45px;font-size: 14px; border-bottom: 1px solid #ddd; padding: 0px 30px;}
.board_view_con .board_sub_title p{font-size: 14px; float: left;}
.board_view_con .board_sub_title .file_down{font-size: 14px; float: right; text-align: right; position: relative; cursor: pointer;}
/*.board_view_con .board_sub_title .file_down:hover .file_down_real{display: block;}*/
.board_view_con .board_sub_title .file_down_real{display: none; position: absolute; background-color: #fff; border: 1px solid #999;min-width: 100px; left: 50%; transform: translateX(-50%);}
.board_view_con .board_sub_title .file_down_real a{display: block; text-align: center; border-bottom: 1px solid #ddd;}
.board_view_con .board_sub_title .file_down_real a:last-child{border-bottom: 0;}
.board_view_con .board_content{margin-top: 30px; color: #666666; padding: 0px 30px; border-bottom: 3px solid #3366b3;}
.board_view_con .board_content p{margin-bottom: 20px;}
.board_view_con .write_reply{margin-top: 22px; margin: 22px 30px 0;}
.board_view_con .write_reply_con{border: 1px solid #ddd;margin-bottom: 10px;}
.board_view_con .write_reply_con textarea{resize: none; width: 620px; height: 60px; margin: 20px 0 20px 20px;vertical-align: middle; border: 0px;}
.board_view_con .write_reply_con input[type=submit]{vertical-align: middle; width: 85px; height: 80px; line-height: 80px; font-size: 14px; color: #fff; font-size: 400; border: 0px; background-color: #3366b3;}
.board_view_con .write_reply #secret{display: none;}
.board_view_con .write_reply .secret{vertical-align: middle; line-height: 18px; font-size: 14px; position: relative;}
.board_view_con .write_reply .secret::before{display: inline-block; content: ""; width: 14px; height: 14px; border: 1px solid #ddd; background-color: #fff; vertical-align: middle; line-height: 18px; margin-right: 3px; position: relative; top: -2px;}
.board_view_con .write_reply input[type=checkbox]:checked + label::after{content:"";width: 10px; height: 4px;position: absolute; top: 6px; left: 3px;border-style: solid;border-color: #666;border-width: 0 0 1px 1px; transform: rotate(-45deg);}
.board_view_con .write_reply label::after{ transition: all 1s ease;}
.board_view_con .write_reply input[type=password]{vertical-align: middle; border: 1px solid #bbb; width: 120px; height: 30px; padding: 0px 5px; line-height: 30px;}
.board_view_con .see_reply_con{border-top: 1px solid #ddd; margin-top: 22px;}
.board_view_con .see_reply_con h3{color: #3366b3; font-size: 16px; font-weight: bold;padding-bottom: 10px; padding: 20px 30px;}
.board_view_con .see_reply_con h4{color: #666666; font-size: 14px; font-weight: bold; display: inline-block; margin-right: 5px;}
.board_view_con .see_reply_con .see_reply{padding: 20px 0; border-top: 1px solid #ddd; padding: 20px 30px;}
.board_view_con .see_reply_con .see_reply:last-child{border-bottom: 1px solid #ddd;}
.board_view_con .see_reply_con .see_reply span{font-size: 12px;}
.board_view_con .see_reply_con .see_reply p{font-size: 14px; color: #666666; margin-top: 5px;}
.board_view_con .board_more{margin-top: 40px;}
.board_view_con .board_more a{border: 1px solid #ddd; color: #999999; text-align: center; width: 85px; height: 40px; line-height: 40px; display: inline-block; float: right; margin-left: 10px; font-weight: 400;}
.board_view_con .board_more a:first-child{border: 1px solid #3d6cb4; color: #3d6cb4;}

/*게시판 VIEW*/
#write_file{display: none;}
.board_write_con{border-top: 1px solid #272727;}
.board_write_con .wid_20{width: 155px; height: 50px; border: 1px solid #ddd; float: left; border-top:0; line-height: 50px; padding-left: 30px; color: #333333; font-size: 14px;}
.board_write_con .wid_80{width: 645px; height: 50px; border: 1px solid #ddd; border-left: 0; float: left; border-top:0; line-height: 50px; padding-left: 30px; font-size: 14px;}
.board_write_con .wid_80 input[type=text]{height: 40px; line-height: 40px; border: 0; padding: 0px 10px;}
.board_write_con .board_write{border: 1px solid #ddd; border-top: 0;}
.board_write_con .board_write textarea{resize: none; width: 100%; height: 340px; font-size: 14px; color: #888888; padding: 30px; border: 0;}
.board_write_con .board_write_file span{color: #3366b3;}
.board_write_con .board_write_file .wid_80 label{color: #888;}
.board_write_con .board_write_secret{width: 100%; height: 50px; line-height: 50px; border: 1px solid #ddd; border-top: 0;}
.board_write_con .secret_con{padding: 0 30px;}
.board_write_con .secret_con input[type=password]{border: 1px solid #ddd; padding: 0px 10px; width: 120px; height: 30px; line-height: 30px;}
.board_write_con .board_write_submit{text-align: center; margin-top: 30px;}
.board_write_con .board_write_submit input{width: 85px; height: 40px; color: #3d6cb4; border: 1px solid #3d6cb4; background-color: #fff; margin: 0 10px;}
.board_write_con .board_write_submit input:last-child{color: #999999; border: 1px solid #ddd;}
.board_write_con{}
.board_write_con{}
.board_write_con{}
.board_write_con{}
.board_write_con{}
.board_write_con{}

/*사이트맵*/
.sitemap ul{font-size: 0;}
.sitemap ul li.depth1{display: inline-block; vertical-align: top; width: 250px; height: 316px; border-bottom: 1px solid #ddd; margin-bottom: 40px;}
.sitemap ul li.depth1:nth-of-type(3n+2){margin: 0 25px;}
.sitemap li{font-size: 16px;}
.sitemap h2{font-size: 22px; padding-bottom: 10px; border-bottom: 2px solid #3366b3; color: #3a6ab4;}
.sitemap ul li.depth1 ul{}
.sitemap ul li.depth1 li{margin-top: 18px;}
.sitemap ul li.depth1 li a{color: #888888;}

.sitemap ul li.depth1 li:last-child{margin-bottom: 18px;}
.sitemap{}
.sitemap{}
.sitemap{}
.sitemap{}
.sitemap{}
.sitemap{}

/*서브페이지*/
.download_outer{display: block; margin: 0 auto; text-align: center; width: 250px; height: 52px; line-height: 52px; border: 1px solid #ddd; margin-top: 30px;}
.download_abtn{font-size: 16px; font-weight: 400; color: #777777;}
.download_abtn img{margin-left: 5px;}
.tech02_3{position: relative;}
.sub_top_img{position: absolute; top: 17px; right: 14px;}
.sub_inner{position: relative;}
.sub_inner .sub_table td{line-height: 40px; color: #666; font-size: 15px; height: 40px; padding: 0 20px; text-align: left;}
.sub_inner .sub_table td.bold{text-align: center;}
.sub_inner .tech01_3 .sub_table td.bold:last-child{border-bottom: 1px solid #ddd;}
.tech_,.inst_,.disp_{margin-bottom: 20px;}
.tech01_1,.tech02_3,.inst01_1,.disp01_1,.disp01_5{background-color: #f6f6f6; padding: 35px 30px; border-bottom: 1px solid #ddd; position: relative;}
h3.sub_sec_title{font-size: 22px; color: #3d6cb4; position: relative; margin-bottom: 15px;}
h3.sub_sec_title.be_line::before{content: ""; width: 15px; height: 5px; background-color: #467acb; display: inline-block; vertical-align: middle; margin-right: 10px; position: relative; top: -3px;}
.sub_sec_text{font-size: 15px; line-height: 28px; color: #666666; letter-spacing: -0.5px;}
.sub_sec_text.be_line{margin-left: 30px;}
.tech01_2 ul li{margin: 10px 0px; height: 35px; line-height: 35px; font-size: 0;}
.tech01_2 ul li h4{display: inline-block; text-align: center; width: 35px; color: #fff; background-color: #3d6cb4; font-size: 15px;}
.tech01_2 ul li p {display: inline-block; background-color: #fff; color: #666666; border: 1px solid #ddd; font-size: 15px; width: 765px; padding-left: 15px;}
.tech01_3 .sub_sec_text{margin-bottom: 10px;}
.tech02_1{margin-bottom: 60px;}
.sub_line{font-size: 15px; color: #999999; margin: 8px 0px; margin-left: 40px;}
.img_area{margin: 30px 0 60px; text-align: center;}
.disp_ .img_area{margin: 50px 0;}
.tech04_1 .img_area{margin-bottom: 30px;}
.tech02_3 .sub_sec_text,.tech03_2 .sub_sec_text,.disp01_5 .sub_sec_text,.disp01_5 .sub_sec_text{margin-bottom: 30px;}
.disp01_5 .sub_sec_title{letter-spacing: -1px;}
.inst01_2 ul li{margin-top: 10px; border: 1px solid #ddd; border-left: 2px solid #3d6cb4;height: 65px;}
.inst01_2 ul li .be_list{font-size: 20px; font-weight: 500; color: #3d6cb4;display: inline-block; margin-left: 20px;}
.inst01_2 ul li p{display: inline; color: #666666; font-size: 15px; font-weight: 300; letter-spacing: -1px;}
.inst01_2 ul li p span{font-size: 12px; color: #aaaaaa;}
.inst01_2 ul li .be_list.line2{vertical-align: top; margin-top: 7px;}
.inst01_2 ul li .list_p_outer{width: 610px; display: inline-block; margin-top: 22px;}
.inst01_2 ul li .list_p_outer.line2{margin-top: 10px;}
.inst01_2 ul li .more_list{float: right; position: relative; top: 50%; transform: translateY(-50%); margin-right: 10px;}
.inst01_2 ul li .list_outer{position: relative; top: 50%; transform: translateY(-50%);}
.inst01_2 ul li a{display: inline-block; font-size: 14px; color: #fff; background-color: #3d6cb4;  vertical-align: middle; width: 120px; height: 36px; line-height: 36px; text-align: center; margin-left: 9px;}
.inst03 .inst03_2 .line_27{border-top: 1px solid #272727; margin-top: 15px;}
.inst03 .inst03_2 .sub_table th{font-size: 17px; border-right:1px solid #ddd; border-top: 0;}
.inst03 .inst03_2 .sub_table th:last-child{border-right: 0;}
.inst03 .inst03_2 .sub_table td{text-align: center;border-right:1px solid #ddd; line-height: 24px; padding: 5px 0;}
.inst03 .inst03_2 .sub_table td:first-child{text-align: left;padding: 5px 18px;}
.inst03 .inst03_2 .sub_table td:last-child{border-right: 0;}

.disp02_2{font-size: 0;}
.disp02_2 {}
.disp02_2 .disp_img_box,.disp02_2 .disp_top_person{display: inline-block; font-size: 0; vertical-align: top;}
.disp02_2 .disp_img_box{width: 180px;}
.disp02_2 .disp_top_person{width: 615px;}
.disp02_2 .disp_top_person .sub_sec_title{margin-top: 15px; border-bottom: 4px solid #3d6db5;padding-left: 30px;}
.disp02_2 .disp_top_person .sub_sec_text{padding-left: 30px;display: inline-block; vertical-align: top; font-size: 15px;}
.disp_top_person .bc_e1{font-size: 15px;}
.bc_e1{padding: 0px 5px;background-color: #f1f1f1; color: #666666; font-size: 14px; display: inline-block; font-weight: bold;}
.disp_top_person{margin-bottom: 20px;}

.disp_top_list .bc_e1{margin-top: 10px;}
.sub_sec_text .bc_e1:first-child{margin-top: 0;}
.disp_top_list{padding:20px 20px 30px; width: 390px; border: 1px solid #ddd; margin-top: 20px; display: inline-block; letter-spacing: -1px; vertical-align: top;}
.disp_top_list:nth-child(3){height: 395px;}
.disp_top_list:nth-child(4){height: 395px;}
.disp_top_list:nth-child(5){height: 445px;}
.disp_top_list:nth-child(6){height: 445px;}
.disp_top_list:nth-child(7){height: 368px;}
.disp_top_list:nth-child(8){height: 368px;}
.disp_top_list:nth-child(9){height: 345px;}
.disp_top_list:nth-child(10){height: 345px;}
.disp_top_list:nth-child(11){height: 345px;}
.disp_top_list:nth-child(12){height: 345px;}
.disp_top_list:nth-child(13){height: 400px;}
.disp_top_list:nth-of-type(odd){margin-right: 10px;}
.disp_top_list .disp_img_box{float: right; text-align: right; width: 110px;}
.disp_top_list p.sub_sec_text{font-size: 14px; line-height: 26px;}

.happy01_3 .sub_sec_text span{color: #999;display: inline-block;margin: 5px 0;}

/*검색 결과창*/
.all_search{color: #555555;}
.search_top_outer{height: 168px; border-bottom: 2px solid #4e7abd; background-color: #f6f6f6; text-align: center; position: relative;}
.search_top_inner{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.search_top_inner h2{font-size: 20px;margin: 14px 0;}
.search_top_inner h2 span{font-size: 24px; color: #3a6ab4;}
.search_top_inner .search_value{position: relative;}
.search_top_inner .search_value input{color: #888888; font-size: 16px; border: 3px solid #3b6bb4; padding: 0 30px; height: 48px; line-height: 48px; width: 450px; border-radius: 24px;}
.search_top_inner .search_value button{width: 21px; height: 21px; background: url(/img/all_search_btn.png)no-repeat center; border: 0; background-color: transparent; position: absolute; top: 50%; right: 30px; transform: translateY(-50%);}
.search_result_box{margin-top: 40px;}
.search_result_box h3{padding-bottom: 10px; border-bottom: 1px solid #ddd; color: #3a6ab4;}
.search_result_box p{font-size: 15px;}
.search_result_box span{font-size: 12px; color: #aaaaaa;}
.search_result{padding: 20px 0; border-bottom: 1px solid #ddd;}
.search_list{float: none; text-align: center;}